
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
/* 2f4b87 */
/* 2f4b87 */
/* #1f325d */

*{
    margin:0px;
    font-family: 'Indie Flower', cursive;
    text-decoration:none;
}
body{
    color:black;
    background-image:url('../images/wallpapers/wallpaperBlack.gif');
}

#login{
    float:right;
    margin-top: 10px;
    margin-right: 10px;
    color: white;
}
#area_notificacion{
    font-size: 30px;
    text-align: center;
    color: white;
    margin-bottom: 30px;
}
#wrongUser{
    font-weight:bold;
}

#logo{
    width: 100%;
    margin-top: 10px;
    text-align: center;
    font-size: 80px;

}
#contador{
    position: fixed;
    bottom: 0;
    right:0;
}
.enlaces {  COLOR: White;  TEXT-DECORATION: none }
#menu{
    position: absolute;
    z-index: 10000;
    text-align: center;
    width:80%;
    margin-left: 10%;

}
#div_categorias{
    text-align: center;
    margin-top: 13%;
    margin-left: 10%;
    width: 80%;
}

#img1{
    float:left;
    margin-bottom: 2%;
}

#img2{
    float:left;
    margin-left: 20%;
    margin-bottom: 2%;
}
#img3{
    float:right;
    margin-bottom: 2%;
}


.img:hover{
    border-bottom: solid 4px white;
    margin-top: 1%;
}
#contenedor{

    position: absolute;
    width:80%;
    margin-left: 8%;
    margin-right: 10%;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;

    text-align: justify;
    text-align: center;

    border-radius: 15px 15px 15px 15px; 
    border: dashed black 2px;
    background-color: white;
    opacity: 0.8;
    color:black!important;



    /*    border-bottom: none;*/
    /*    background: rgb(201,11,46);  Old browsers 
        background: -moz-linear-gradient(left,  rgba(201,11,46,1) 0%, rgba(201,11,46,1) 100%);  FF3.6+ 
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(201,11,46,1)), color-stop(100%,rgba(201,11,46,1)));  Chrome,Safari4+ 
        background: -webkit-linear-gradient(left,  rgba(201,11,46,1) 0%,rgba(201,11,46,1) 100%);  Chrome10+,Safari5.1+ 
        background: -o-linear-gradient(left,  rgba(201,11,46,1) 0%,rgba(201,11,46,1) 100%);  Opera 11.10+ 
        background: -ms-linear-gradient(left,  rgba(201,11,46,1) 0%,rgba(201,11,46,1) 100%);  IE10+ 
        background: linear-gradient(to right,  rgba(201,11,46,1) 0%,rgba(201,11,46,1) 100%);  W3C 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c90b2e', endColorstr='#c90b2e',GradientType=1 );  IE6-9 */
}
table{
    text-align: center;
    margin:0 auto;
}
/* 2f4b87 
 2f4b87 
 #1f325d 
 Menu CSS*/ #cssmenu {
    width: 80%px;
}
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
    padding: 0;
    margin: 0;
    line-height: 1;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    transition: all ease .3s;
}
#cssmenu:before,
#cssmenu:after,
#cssmenu > ul:before,
#cssmenu > ul:after {
    content: '';
    display: table;
}
#cssmenu:after,
#cssmenu > ul:after {
    clear: both;
}
#cssmenu a {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#cssmenu ul {
    background: #b00303;
    border-radius: 3px;
    border: 1px solid #2b4479;
    border: 1px solid #7e0202;
    -webkit-box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
    -o-box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
    -moz-box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
    -ms-box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
    box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
}
#cssmenu ul > li {
    float: left;
    list-style: none;
}
#cssmenu ul > li > a {
    display: block;
    text-decoration: none;
    padding: 15px 44px;
    position: relative;
}
#cssmenu ul > li > a:hover {
    background: #7e0202;
    -webkit-box-shadow: inset 0 0 1px #4c0101;
    -o-box-shadow: inset 0 0 1px #4c0101;
    -moz-box-shadow: inset 0 0 1px #4c0101;
    -ms-box-shadow: inset 0 0 1px #4c0101;
    box-shadow: inset 0 0 1px #4c0101;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    transition: all ease .3s;
}
#cssmenu ul > li > a:hover:before {
    content: '';
    z-index: 2;
    position: absolute;
    border: 1px solid white;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: -1px;
    opacity: .2;
}
#cssmenu ul > li > a:hover:after {
    content: '';
    z-index: 2;
    position: absolute;
    border: 1px solid white;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    right: -1px;
    opacity: .2;
}
#cssmenu > ul > li > ul {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}
#cssmenu > ul > li:hover > ul {
    opacity: 1;
    visibility: visible;
    position: absolute;
    border-radius: 0 0 3px 3px;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}
#cssmenu > ul > li > ul {
    width: 200px;
    position: absolute;
}
#cssmenu > ul > li > ul > li {
    float: none;
    position: relative;
}
#cssmenu > ul > li > ul > li > ul {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}
#cssmenu > ul > li > ul > li:hover > ul {
    opacity: 1;
    visibility: visible;
    position: absolute;
}
#cssmenu > ul > li > ul > li > ul {
    left: 200px;
    top: 1px;
    width: 200px;
}
#cssmenu > ul > li > ul > li > ul > li {
    float: none;
}














/*
 Old menu
 Menu CSS #cssmenu {
    width: 80%;
}
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
    padding: 0;
    margin: 0;
    line-height: 1;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    transition: all ease .3s;
}
#cssmenu:before,
#cssmenu:after,
#cssmenu > ul:before,
#cssmenu > ul:after {
    content: '';
    display: table;
}
#cssmenu:after,
#cssmenu > ul:after {
    clear: both;
}
#cssmenu a {

    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#cssmenu ul {
    background: #b00303;
    border-radius: 15px;
    border: 1px solid #2b4479;
    border: 1px solid #7e0202;
    -webkit-box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
    -o-box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
    -moz-box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
    -ms-box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
    box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
}
#cssmenu ul > li {
    float: left;
    list-style: none;
}
#cssmenu ul > li > a {
    display: block;
    text-decoration: none;
    padding: 15px 44px;
    position: relative;
}
#cssmenu ul > li > a:hover {
    background: #7e0202;
    border-radius: 0px 0px 0px 0px;
    -webkit-box-shadow: inset 0 0 1px #4c0101;
    -o-box-shadow: inset 0 0 1px #4c0101;
    -moz-box-shadow: inset 0 0 1px #4c0101;
    -ms-box-shadow: inset 0 0 1px #4c0101;
    box-shadow: inset 0 0 1px #4c0101;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    transition: all ease .3s;
}
#cssmenu ul > li > a:hover:before {
    content: '';
    z-index: 2;
    position: absolute;
    border: 1px solid white;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: -1px;
    opacity: .2;
}
#cssmenu ul > li > a:hover:after {
    content: '';
    z-index: 2;
    position: absolute;
    border: 1px solid white;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    right: -1px;
    opacity: .2;
}
#cssmenu > ul > li > ul {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}
#cssmenu > ul > li:hover > ul {
    opacity: 1;
    visibility: visible;
    position: absolute;
    border-radius: 0 0 15px 15px;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}
#cssmenu > ul > li > ul {
    width: 1960px;
    position: absolute;
}
#cssmenu > ul > li > ul > li {
    float: none;
    position: relative;
}
#cssmenu > ul > li > ul > li > ul {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}
#cssmenu > ul > li > ul > li:hover > ul {
    opacity: 1;
    visibility: visible;
    position: absolute;
}
#cssmenu > ul > li > ul > li > ul {
    left: 160px;
    top: 1px;
    width: 200px;
}
#cssmenu > ul > li > ul > li > ul > li {
    float: none;
}*/

