
#cssmenu {
    display: block;
    margin: auto;
    background-image: url(../img/menuImage.png);
    width: 61%;
    padding-bottom: 3.2%;
}
#cssmenu > ul {
    list-style: inside none;

}
#cssmenu > ul > li {
    list-style: inside none;
    float: left;
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
}
#cssmenu.align-center > ul {
    text-align: center;
}
#cssmenu.align-center > ul > li {
    float: none;
    margin-left: -3px;
}
#cssmenu.align-center ul ul {
    text-align: left;
}
#cssmenu.align-center > ul > li:first-child > a {
    border-radius: 0;
}
#cssmenu > ul > li > a {
    outline: none;
    display: block;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.8);
    font-weight: 700;
    font-size:19px;
    font-family: Arial, Helvetica, sans-serif;

    color: #fcd144;
    margin-top: 8px;
    padding: 10px 50px;
}
#cssmenu > ul > li:first-child > a {
    margin-left: 105px;
}
#cssmenu > ul > li.has-sub:hover > a {
    padding-bottom: 14px; // tamaño submenu
    z-index: 999;
    color:#ffff99;
}
#cssmenu ul li.has-sub:hover > ul,
#cssmenu ul li.has-sub:hover > div {
    display: block;
    border-radius: 0 0 8px 8px;
    border: solid 2px #f7b13a;

}
#cssmenu ul li > ul,
#cssmenu ul li > div {
    display: none;
    /*width: auto;*/
    position: absolute;
    top: 56px;
    background: rgba(138,13,7,.7);


    z-index: 999;


}
#cssmenu ul li > ul {
    width: 200px;
}
#cssmenu ul ul ul {
    position: absolute;
}
#cssmenu ul ul li:hover > ul {
    left: 100%;
    top: -10px;
    border-radius: 5px;
}
#cssmenu ul li > ul li {
    display: block;
    list-style: inside none;
    position: relative;
    margin: 0;
    padding: 0;

}
#cssmenu ul li > ul li a {
    outline: none;
    display: block;
    position: relative;

    color: #fcd144;
    text-decoration: none;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);

    margin: 2.4%;
    padding: 8px 20px;
}

#cssmenu > ul > li > a:hover {
    background: rgba(255,255,255,.1);// interesting selected
}
#cssmenu ul ul a:hover {
    color:#ffff99;

}
#cssmenu > ul > li.has-sub > a:hover:before {
    border-top: 5px solid #fcd144;

}
