@font-face {
    font-family: "Heartstone";
    src: url(../fuentes/heartstone) format("truetype");
}
*{   
    cursor:url('../img/cursor/ceopen.png'), help;
    padding: 0px;
    margin: 0px;
    font-family: "Heartstone";
}
body{


    background-image: url(../img/hearthstone-deck.jpg) ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    width:100%; 
    margin:auto; 
    min-width:500px; 
}
#bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    z-index: -1;
}
#bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
}


#mainButton{
    margin-top: 2%;
    text-align: center;
}
#mainButton img {
    height:  20%;
    width:  20%;
}

#buscador{
    float: right;
    margin-right: 1.3%;
    margin-top: 10px;

}
#buscadorinput{
    width: 59%;
    text-decoration: none;
    background: none;
    border:none;
    text-decoration: none;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.8);
    font-weight: 400;
    font-size:19px;
    color: #fcd144;
    margin-top: 8px;
    padding: 1px;

}


header{
    margin-bottom: 2%;
}
#contenedor{
    text-align: center;
    background-image: url(../img/pergamino.png) ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


    margin: auto;
    width: 60%;


    padding: 2%;

    border-radius: 23px 23px 23px 23px;
    -moz-border-radius: 23px 23px 23px 23px;
    -webkit-border-radius: 23px 23px 23px 23px;
    border: 0px solid #000000;
}
#contenedorImagenes{
    text-align: center;
    /*background-color:  rgba(100,13,7,.7);*/
    /*    background-color:  rgba(211,171,109,.8);*/
    background-color:  rgba(0,0,0,.8);



    margin: auto;
    width: 60%;


    padding: 2%;

    border-radius: 23px 23px 23px 23px;
    -moz-border-radius: 23px 23px 23px 23px;
    -webkit-border-radius: 23px 23px 23px 23px;
    border: 0px solid #000000;
}
h1{
    color: #293A6E;
    font-size: 50px;
}
h2{
    color: #293A6E;
    font-size: 30px;
}
.título{
    margin: auto;
    width: 80%;
    margin-top: 2%;
}
.cuerpo{
    margin: auto;
    width: 80%;
    margin-top: 3%;
}

.camposTexto{
    background: none;
    border:none;   
    text-decoration: none;
    font-family: Arial;
    font-weight: normal;
    color:white;
    font-size: 15px;
    margin-top:5%;
    padding: 2%;
    width: 93%;
}
#login{
    margin-top: 39%;
    margin-left: 3%;
}
#password{
    padding-bottom: 12px!IMPORTANT;
}
.myButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
    -webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
    box-shadow:inset 0px 1px 0px 0px #97c4fe;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #3a609e));
    background:-moz-linear-gradient(top, #3d94f6 5%, #3a609e 100%);
    background:-webkit-linear-gradient(top, #3d94f6 5%, #3a609e 100%);
    background:-o-linear-gradient(top, #3d94f6 5%, #3a609e 100%);
    background:-ms-linear-gradient(top, #3d94f6 5%, #3a609e 100%);
    background:linear-gradient(to bottom, #3d94f6 5%, #3a609e 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#3a609e',GradientType=0);
    background-color:#3d94f6;
    /*    -moz-border-radius:6px;
        -webkit-border-radius:6px;
        border-radius:6px;*/
    border:1px solid #337fed;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:7px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #1570cd;
}

.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3a609e), color-stop(1, #3d94f6));
    background:-moz-linear-gradient(top, #3a609e 5%, #3d94f6 100%);
    background:-webkit-linear-gradient(top, #3a609e 5%, #3d94f6 100%);
    background:-o-linear-gradient(top, #3a609e 5%, #3d94f6 100%);
    background:-ms-linear-gradient(top, #3a609e 5%, #3d94f6 100%);
    background:linear-gradient(to bottom, #3a609e 5%, #3d94f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a609e', endColorstr='#3d94f6',GradientType=0);
    background-color:#3a609e;
}

.myButton:active {
    position:relative;
    top:3px;
}
#submit{
    margin-top: 14%;
}
#close{
    margin: 0;
    padding:  0;
    margin-top: 0;
    float:right;
    height: 25px;
    width: 25px;
}
#crearcuenta a{
    border:none;   
    text-decoration: none;
    font-family: Arial;
    font-weight: normal;
    color:#01A0D1;
    font-size: 15px;
    text-decoration: none;
}
#crearcuenta{
    position: absolute;
    margin-left: 15%;
    margin-top: 23.5%;
}
#crearcuenta a:hover{
    color: white;
}
.imagen:hover{
    padding: 3px;
    background: rgba(138,13,7,.6);
}
/*a:hover{
    cursor: pointer;
}*/
